#contact-form {
	padding: 70px;
}

.card-deck {
	margin: 70px;
}

section {
	text-align:center;
}

@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  body {
    width: 100%;
  }
}

.about {
	text-align:center;
	margin-top: 200px;
	margin-bottom: 200px;

}

.about h4 {
	text-align:center;
	font-size: 100pt;
}
